@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1686016751150') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\3448";
}

.icon-home:before {
  content: "\e612";
}

.icon-icon--:before {
  content: "\e710";
}

.icon-loufangfangzi:before {
  content: "\e729";
}

